body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  border: 1px solid black;
  display: flex;
}

.cell {
  border: 1px solid black;
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  padding: 5px;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  border: 2px solid;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.white {
  background: white;
}
